#fullpage > .section {
  position: relative;
  height: 100vh;
  background-color: #FFC0CB;
}

.foreground {
  position: absolute;
  top: 20vh;
}

.foreground > img {
  width: 100%;
  height: auto;
}

.full-image {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-image: url("./images/wedding/18.jpg");
  opacity: 0.4;
  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;
}

/* arrow animation */
.arrows {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.fadeinUp {
  -webkit-animation: 1s ease-in-out 500ms infinite alternate fadeInUp;
  animation: 1s ease-in-out 500ms infinite alternate fadeInUp;
  
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}
